<div class="container">
  <ng-container *ngIf="subcategory$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateSubcategoryEnum.LOADING">
      Loading.....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateSubcategoryEnum.LOADED">
      <div class="container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Subcategory Name</th>
              <th>Active</th>
              <th>Category ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sub of result.data">
              <td>{{sub._id}}</td>
              <td>{{sub.subCategoryName}}</td>
              <td>{{sub.active}}</td>
              <td>{{sub.categoryId}}</td>
              <td>
                <button type="button" class="btn btn-danger" style="background-color: #dc3545; margin-right: 5px;" (click)="onDeleteSubcategory(sub)">
                  <span class="fa fa-trash-o"></span> Delete
                </button>
                <button class="btn btn-info" (click)="editSubcategory(sub)">
                  <span class="fa fa-edit"></span> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateSubcategoryEnum.ERROR">
      Error.....
    </ng-container>
  </ng-container>
</div>
