<div class="container">
  <ng-container *ngIf="category$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateCategoryEnum.LOADING">
      Loading.....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateCategoryEnum.LOADED">
      <div class="container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Category Name</th>
              <th>Active</th>
              <th>SubCategory</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of result.data">
              <td>{{ cat._id }}</td>
              <td>{{ cat.categoryName }}</td>
              <td>{{ cat.active }}</td>
              <td>{{ cat.SubCategory }}</td>
              <td>
                <button type="button" class="btn btn-danger" style="background-color: #dc3545; margin-right: 5px;" (click)="onDeleteCategory(cat)">
                  <span class="fa fa-trash-o"></span> Delete
                </button>
                <button class="btn btn-info" (click)="editCategory(cat)">
                  <span class="fa fa-edit"></span> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateCategoryEnum.ERROR">
      Error.....
    </ng-container>
  </ng-container>
</div>
