<div class="container">
  <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      Loading.....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <div class="container mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>SKU</th>
              <th>IMAGE</th>
              <th>Name</th>
              <th>Description</th>
              <th>Long Description</th>
              <th>Price</th>
              <th>Promotion</th>
              <th>Quantity</th>
              <th>Available</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of result.data">
              <td>{{p._id}}</td>
              <td>{{p.sku}}</td>
              <td>{{p.productImage}}</td>
              <td>{{p.productName}}</td>
              <td>{{p.shortDescription}}</td>
              <td>{{p.longDescription}}</td>
              <td>{{p.price}}</td>
              <td>{{p.discountPrice}}</td>
              <td>{{p.quantity}}</td>
              <td>{{p.active}}</td>
              <td class="d-flex align-items-center">
                <button type="button" class="btn btn-danger btn-sm me-2" (click)="onDelete(p)">
                  <span class="fa fa-trash-o"></span> Delete
                </button>
                <button class="btn btn-info btn-sm" (click)="editProduct(p)">
                  <span class="fa fa-edit"></span> Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      Error.....
    </ng-container>
  </ng-container>
</div>
