<div class="container mt-4" *ngIf="categoryFormGroup">
  <div class="row justify-content-center">
    <div class="col-md-6">
  <form [formGroup]="categoryFormGroup" class="p-4 border rounded bg-light">
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <input type="text" id="categoryName" class="form-control" formControlName="categoryName"
        [ngClass]="{'is-invalid': submitted && categoryFormGroup.controls['categoryName'].errors}"
        placeholder="Enter category name">
      <div *ngIf="submitted && categoryFormGroup.controls['categoryName'].errors" class="invalid-feedback">
        <div *ngIf="categoryFormGroup.controls['categoryName'].errors?.['required']">Name is Required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="subCategoryId">SubCategory</label>
      <input type="text" id="subCategoryId" class="form-control" formControlName="subCategoryId"
        placeholder="Enter subcategory name">
    </div>
    <div class="form-group text-center mt-3">
      <button-type type="submit" class="btn btn-primary btn-lg" (click)="OneSaveCategory()">Save</button-type>
    </div>
  </form>
</div>
</div>
</div>
