<div class="container mt-9" *ngIf="subcategoryFormGroup">
  <div class="justify-content-center">
    <div class="col-md-10">
      <form [formGroup]="subcategoryFormGroup" class="p-4 border rounded bg-light">

        <!-- Subcategory Name Field -->
        <div class="form-group">
          <label for="subCategoryName">Subcategory Name</label><br>
          <input type="text" id="subCategoryName" class="form-control" formControlName="subCategoryName"
            [ngClass]="{'is-invalid': submitted && subcategoryFormGroup.controls['subCategoryName'].errors}"
            placeholder="Enter Subcategory Name">
          <div *ngIf="submitted && subcategoryFormGroup.controls['subCategoryName'].errors" class="invalid-feedback">
            <div *ngIf="subcategoryFormGroup.controls['subCategoryName'].errors?.['required']">Name is Required</div>
          </div>
        </div>

        <!-- Category Field -->
        <div class="form-group">
          <label for="categoryId">Category</label>
          <select id="categoryId" class="form-control" formControlName="categoryId">
            <option *ngFor="let c of cats" [value]="c._id">{{c.categoryName}}</option>
          </select>
        </div>

        <!-- Available Field (Checkbox) -->
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" id="active" class="form-check-input" formControlName="available">
            <label class="form-check-label" for="active">Active</label>
          </div>
        </div>

        <!-- Save Button -->
        <div class="form-group text-center mt-3">
          <button-type class="btn btn-primary btn-lg" (click)="OneSaveSubcategory()">Save</button-type>
        </div>
      </form>
    </div>
  </div>
</div>
